@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Sulphur+Point:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* BARRA DE NAVEGAÇÃO */

header {
    position: fixed;
    width: 100%;
    background: #14171A;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 23px;
}

/* ELEMENTOS DA ESQUERDA */

.navbar-left {
    display: flex;
    align-items: center;
    gap: 37px;
}

.logo {
    text-decoration: none;
    color: white;
    font-family: "Sulphur Point";
    font-weight: 700;
    font-size: 20px;
    transition: all 0.3s ease;
}

.logo:hover {
    color:#7795ed;
}

.search-bar {
    border: none;
    padding: 10px 37px;
    border-radius: 25px;
    outline: none;
    color: #A6A6A6;
}

/* ELEMENTOS DA DIREITA */

.navbar-right {
    display: flex;
    align-items: center;
    gap: 37px;
    font-family: "Questrial";
}

.navbar-right li {
    list-style-type: none;
}

.mobile-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.singup {
    text-decoration: none;
    color: white;
}

.btn-login {
    padding: 12px 30px;
    border: none;
    border-radius: 37px;
    background: #1a48cf;
    color: white;
    font-family: "Questrial";
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background: #7795ed;
}

hr {
    background-color: #A6A6A6;
    height: 1px;
    border: none;
}

/* RESPONSIVIDADE BARRA DE NAVEGAÇÃO */

@media screen and (max-width: 800px) {
    /* TIRA OS BOTÕES ORIGINAIS */
    .btn-login{
        display: none;
    }
    .singup {
        display: none;
    }
    /* ARRUMA O ICONE */
    .mobile-icon {
        display: block;
    }
    .mobile-icon button {
        padding: 20px;
        cursor: pointer;
    }
    .mobile-icon img {
        width: 25px;
    }
    .btn-menu{
        background: transparent;
        border: none;
    }
    /* CONFIGURAÇÃO DO MENU */
    .mobile-menu {
        background: #916dd5;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        list-style-type: none;
        width: 100%;
    }
    .mobile-menu a {
        display: block;
        padding: 37px 0px;
        font-family: "Questrial";
        cursor: pointer;
        font-size: 15px;
    }
    .mobile-menu .btn-login {
        display: block;
        border-radius: 0px;
        padding: 37px 0px;
        width: 100%;
    }
    .open {
        display: block
    }
}

/* CONTEUDO */

main {
    padding-top: 86px;
    background: #14171A;
    height: 100vh;
    display: flex;
}

/* LEFT BAR */

.left-bar {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #2b2e30;
}

.tab-menu {
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap: 15px;
}

.tab-btn {
    width: 250px;
    cursor: pointer;
    background: transparent;
    color: #d0d0d1;
    font-family: "Questrial";
    font-size: 15px;
    text-align: left;
    border: none;
    border-radius: 10px;
    padding: 15px;
    transition: all .3s ease;
}

.tab-btn:hover {
    background: #424547;
}

.tab-btn.active {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: #424547;
}

/* CONTENT */

.content {
    display: none;
}

.content.show {
    display: flex;
    flex-direction: column;
}

.tab-contents {
    padding: 15px;
}

.content-title {
    color: white;
    font-family: "Questrial";
    font-size: 35px;
}

.filter-btn {
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    background: #424547;
    color: white;
    font-family: "Questrial";
    cursor: pointer;
    margin-top: 10px;
}