@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Sulphur+Point:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* BARRA DE NAVEGAÇÃO */

header {
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #916dd5;
    padding: 37px;
}

/* ELEMENTOS DA ESQUERDA */

.navbar-left {
    display: flex;
    align-items: center;
    gap: 37px;
}

.logo {
    text-decoration: none;
    color: white;
    font-family: "Sulphur Point";
    font-weight: 700;
    font-size: 20px;
}

.search-bar {
    border: none;
    padding: 10px 37px;
    border-radius: 25px;
    outline: none;
    color: #A6A6A6;
}

/* ELEMENTOS DA DIREITA */

.navbar-right {
    display: flex;
    align-items: center;
    gap: 37px;
    font-family: "Questrial";
}

.navbar-right li {
    list-style-type: none;
}

.mobile-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.singup {
    text-decoration: none;
    color: white;
}

.btn-login {
    padding: 12px 30px;
    border: none;
    border-radius: 37px;
    background: #573d7f;
    color: white;
    font-family: "Questrial";
    cursor: pointer;
    font-size: 15px;
}

.btn-login:hover {
    background: #7151A9;
}

/* RESPONSIVIDADE BARRA DE NAVEGAÇÃO */

@media screen and (max-width: 800px) {
    /* TIRA OS BOTÕES ORIGINAIS */
    .btn-login{
        display: none;
    }
    .singup {
        display: none;
    }
    /* ARRUMA O ICONE */
    .mobile-icon {
        display: block;
    }
    .mobile-icon button {
        padding: 20px;
        cursor: pointer;
    }
    .mobile-icon img {
        width: 25px;
    }
    .btn-menu{
        background: transparent;
        border: none;
    }
    /* CONFIGURAÇÃO DO MENU */
    .mobile-menu {
        background: #916dd5;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        list-style-type: none;
        width: 100%;
    }
    .mobile-menu a {
        display: block;
        padding: 37px 0px;
        font-family: "Questrial";
        cursor: pointer;
        font-size: 15px;
    }
    .mobile-menu .btn-login {
        display: block;
        border-radius: 0px;
        padding: 37px 0px;
        width: 100%;
    }
    .open {
        display: block
    }
}